# Flutter web build results
.last_build_id
favicon.png
flutter_service_worker.js
index.html
main.dart.js
main.dart.js.map
manifest.json
version.json

# Flutter assets
icons/Icon-192.png
icons/Icon-512.png
assets/NOTICES
assets/FontManifest.json
assets/AssetManifest.json
assets/fonts/MaterialIcons-Regular.otf
assets/packages/cupertino_icons/assets/CupertinoIcons.ttf
